/*
*Creator: Tanu Zerebel.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

main .poppins {
  font-family: Poppins;
  font-style: normal;
}
main .break::after {
  content: "\a";
  white-space: pre;
}
main #top {
  margin-top: 4.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0 4rem;
}
main #creative span {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.045em;
  color: #000000;
}
main #who-we-are {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
main #who-we-are #who-we-are-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: uppercase;
}
main #who-we-are #who-we-are-2 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
main #container {
  display: grid;
  margin-top: 5.875rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 3rem;
}
main #container .items {
  display: flex;
  max-width: 100%;
}
main #container .image {
  display: flex;
  flex-direction: column;
  position: relative;
}
main #container #item-1 {
  justify-self: end;
}
main #container #item-2 {
  margin-top: 4.652rem;
  justify-self: center;
}
main #container #item-3 {
  justify-self: start;
}
main #container #item-4 {
  justify-self: end;
}
@media (min-width: 768px) {
  main #container #item-5 {
    justify-self: center;
    margin-top: 4.652rem;
  }
}
main #container #item-6 {
  justify-self: start;
}
main #container img {
  max-width: 100%;
  max-height: 100%;
  height: 52vh;
}
main #container .role {
  font-size: 0.75rem;
  padding-left: 0.625rem;
  font-family: PT serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  width: 1.5625rem;
  position: relative;
  line-height: 1rem;
}
main #container .role span {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(90deg) translate(0, -100%);
  top: 0.125rem;
}
main #container .name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
main .creator {
  margin-top: 5.25rem;
  margin-bottom: 1.25rem;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 0.875rem;
  color: #a9a9a9;
}

@media (max-width: 575.98px) {
  main #top {
    padding: 0 10px;
    justify-content: space-between;
    gap: 38px;
    margin-top: 3.3125rem;
  }
  main #top #who-we-are {
    gap: 0.625rem;
  }
  main #top #who-we-are #who-we-are-2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  main #container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 2.375rem;
    row-gap: 1.3875rem;
  }
  main #container #item-1 {
    justify-self: center;
  }
  main #container #item-2 {
    margin-top: 3.652rem;
    justify-self: center;
  }
  main #container #item-3 {
    justify-self: center;
  }
  main #container #item-4 {
    justify-self: center;
    margin-top: 3.652rem;
  }
  main #container #item-5 {
    justify-self: center;
  }
  main #container #item-6 {
    justify-self: center;
    margin-top: 3.652rem;
  }
  main #container img {
    max-width: 96%;
    height: 30vh;
  }
  main #container .role {
    font-size: 0.625rem;
    padding-left: 0.025rem;
    font-weight: 400;
    width: 0.5625rem;
    line-height: 0.8125rem;
  }
  main #container .role span {
    top: 0.125rem;
  }
  main #container .name {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
@media (max-width: 828.98px) and (min-width: 575.98px) {
  main #top {
    padding: 0 10px;
    justify-content: space-around;
    gap: 38px;
    margin-top: 3.3125rem;
  }
  main #top #who-we-are {
    gap: 0.625rem;
  }
  main #top #who-we-are #who-we-are-2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  main #container {
    margin-top: 2.375rem;
    row-gap: 1.3875rem;
  }
  main #container #item-1 {
    justify-self: center;
  }
  main #container #item-2 {
    margin-top: 3.652rem;
    justify-self: center;
  }
  main #container #item-3 {
    justify-self: center;
  }
  main #container #item-4 {
    justify-self: center;
  }
  main #container #item-5 {
    justify-self: center;
    margin-top: 3.652rem;
  }
  main #container #item-6 {
    justify-self: center;
  }
  main #container img {
    max-width: 96%;
    height: 37vh;
  }
  main #container .role {
    font-size: 0.625rem;
    padding-left: 0.025rem;
    font-weight: 400;
    width: 0.5625rem;
    line-height: 0.8125rem;
  }
  main #container .role span {
    top: 0.125rem;
  }
  main #container .name {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}

/*# sourceMappingURL=style.css.map */
