* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

main {
  .poppins {
    font-family: Poppins;
    font-style: normal;
  }
  .break::after {
    content: "\a";
    white-space: pre;
  }
  #top {
    margin-top: 4.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 4rem;
  }
  #creative {
    span {
      font-family: PT Serif;
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 3rem;
      letter-spacing: -0.045em;
      color: #000000;
    }
  }
  #who-we-are {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    #who-we-are-1 {
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.6875rem;
      text-transform: uppercase;
    }

    #who-we-are-2 {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
  #container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 0.0625rem;
    margin-top: 5.875rem;
    .items {
      display: flex;
      height: 50vh;
    }
    .image {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    #item-1 {
      background-color: blueviolet;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
      justify-content: end;
    }
    #item-2 {
      background-color: brown;
      justify-content: center;
      margin-top: 1.29rem;
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 5;
    }
    #item-3 {
      background-color: bisque;
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 1;
      grid-row-end: 4;
    }
    #item-4 {
      background-color: green;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 9;
      grid-row-end: 12;
      justify-content: end;
    }

    #item-5 {
      background-color: grey;
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 10;
      grid-row-end: 14;
      margin-top: 1.29rem;
      justify-content: center;
    }

    #item-6 {
      background-color: yellow;
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 9;
      grid-row-end: 12;
    }
    img {
      max-width: 100%;
      // width: 1.0625rem;
      height: 22.4375rem;
    }

    .role {
      // -ms-writing-mode: sideways-rl;
      // writing-mode: sideways-rl;
      // text-orientation: upright;
      font-size: 0.75rem;
      padding-left: 0.625rem;
      font-family: PT serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      width: 1.5625rem;
      span {
        position: absolute;
        transform-origin: 0 0;
        transform: rotate(90deg) translate(0, -100%);
        top: 0.125rem;
      }
    }

    .name {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
  .creator {
    margin-top: 5.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 0.875rem;
    color: #a9a9a9;
    display: none;
  }
}

// Media Queries
// @media screen and (max-width: 1200px) {
//   img {
//     max-width: 20vh;
//     // width: 1.0625rem;
//     height: 12.4375rem;
//   }

//   #container {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(9, 5vw);
//     // grid-gap: 0.0625rem;
//     // margin-top: 5.875rem;
//     // .items {
//     //   display: flex;
//     //   height: 30vh;
//     //   width: 100%;

//     // }
//     // .image {
//     //   display: flex;
//     //   flex-direction: column;

//     // }
//     #item-1 {
//       grid-column-start: 1;
//       grid-column-end: 4;
//     }
//     #item-2 {
//       grid-column-start: 3;
//     }

//     #item-3 {
//       background-color: bisque;
//       grid-column-start: 7;
//       grid-column-end: 10;
//       grid-row-start: 5;
//       grid-row-end: 9;
//     }
//     #item-4 {
//       background-color: bisque;
//       grid-column-start: 1;
//       grid-column-end: 4;
//       grid-row-start: 9;
//       justify-content: end;
//     }

//     #item-5 {
//       background-color: brown;
//       grid-column-start: 4;
//       grid-column-end: 7;
//       grid-row-start: 10;
//       margin-top: 1.29rem;
//       justify-content: center;
//     }

//     #item-6 {
//       background-color: blueviolet;
//       grid-column-start: 7;
//       grid-column-end: 10;
//       grid-row-start: 9;
//     }
//     img {
//       max-width: 100%;
//       // width: 1.0625rem;
//       height: 22.4375rem;
//     }

//     .role {
//       // -ms-writing-mode: sideways-rl;
//       // writing-mode: sideways-rl;
//       // text-orientation: upright;
//       font-size: 0.75rem;
//       padding-left: 0.625rem;
//       font-family: PT serif;
//       font-style: normal;
//       font-weight: 400;
//       text-transform: uppercase;
//       width: 1.5625rem;
//       span {
//         position: absolute;
//         transform-origin: 0 0;
//         transform: rotate(90deg) translate(0, -100%);
//         top: 0.125rem;
//       }
//     }

//     .name {
//       font-family: Poppins;
//       font-style: normal;
//       font-weight: 600;
//       font-size: 1.125rem;
//       line-height: 1.6875rem;
//     }
//   }
// }
@media screen and (max-width: 780px) {
  main {
    #top {
      margin-top: 4.25rem;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }

    #who-we-are {
      margin-top: 2.55rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      #who-we-are-1 {
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        text-transform: uppercase;
      }

      #who-we-are-2 {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6875rem;
      }
    }
    #container {
      display: flex;
      flex-wrap: wrap;
      .container > * {
        flex: 1 1 30vh;
      }

      margin-top: 5.875rem;
      padding: 0;
      .items {
        display: flex;
        height: 39vh;
        width: 90%;
        position: relative;
      }
    }
  }
}
