/*
*Creator: Tanu Zerebel.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

main {
  .poppins {
    font-family: Poppins;
    font-style: normal;
  }
  .break::after {
    content: "\a";
    white-space: pre;
  }
  #top {
    margin-top: 4.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 4rem;
  }
  #creative {
    span {
      font-family: PT Serif;
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 3rem;
      letter-spacing: -0.045em;
      color: #000000;
    }
  }
  #who-we-are {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    #who-we-are-1 {
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.6875rem;
      text-transform: uppercase;
    }

    #who-we-are-2 {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
  #container {
    display: grid;
    margin-top: 5.875rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 3rem;

    .items {
      display: flex;
      max-width: 100%;
    }
    .image {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    #item-1 {
      justify-self: end;
    }
    #item-2 {
      margin-top: 4.652rem;
      justify-self: center;
    }
    #item-3 {
      justify-self: start;
    }
    #item-4 {
      justify-self: end;
    }
    @media (min-width: 768px) {
      #item-5 {
        justify-self: center;
        margin-top: 4.652rem;
      }
    }

    #item-6 {
      justify-self: start;
    }
    img {
      max-width: 100%;
      // width: 1.0625rem;
      max-height: 100%;
      height: 46vh;
    }

    .role {
      // -ms-writing-mode: sideways-rl;
      // writing-mode: sideways-rl;
      // text-orientation: upright;
      font-size: 0.75rem;
      padding-left: 0.625rem;
      font-family: PT serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      width: 1.5625rem;
      position: relative;
      line-height: 1rem;
      span {
        position: absolute;
        transform-origin: 0 0;
        transform: rotate(90deg) translate(0, -100%);
        top: 0.125rem;
      }
    }
    .name {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
  .creator {
    margin-top: 5.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 0.875rem;
    color: #a9a9a9;
  }
}

// * Media Queries
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  main {
    #top {
      padding: 0 10px;
      justify-content: space-between;
      gap: 38px;
      margin-top: 3.3125rem;
      #who-we-are {
        gap: 0.625rem;
        #who-we-are-2 {
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.3125rem;
        }
      }
    }

    #container {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      margin-top: 2.375rem;
      row-gap: 1.3875rem;
      #item-1 {
        justify-self: center;
      }
      #item-2 {
        margin-top: 3.652rem;
        justify-self: center;
      }
      #item-3 {
        justify-self: center;
      }
      #item-4 {
        justify-self: center;
        margin-top: 3.652rem;
      }

      #item-5 {
        justify-self: center;
      }

      #item-6 {
        justify-self: center;
        margin-top: 3.652rem;
      }
      img {
        max-width: 96%;
        // width: 1.0625rem;
        height: 30vh;
      }
      .role {
        // -ms-writing-mode: sideways-rl;
        // writing-mode: sideways-rl;
        // text-orientation: upright;
        font-size: 0.625rem;
        padding-left: 0.025rem;
        font-weight: 400;
        width: 0.5625rem;
        line-height: 0.8125rem;
        span {
          top: 0.125rem;
        }
      }
      .name {
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 828.98px) and (min-width: 575.98px) {
  main {
    #top {
      padding: 0 10px;
      justify-content: space-around;
      gap: 38px;
      margin-top: 3.3125rem;
      #who-we-are {
        gap: 0.625rem;
        #who-we-are-2 {
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.3125rem;
        }
      }
    }

    #container {
      margin-top: 2.375rem;
      row-gap: 1.3875rem;
      #item-1 {
        justify-self: center;
      }
      #item-2 {
        margin-top: 3.652rem;
        justify-self: center;
      }
      #item-3 {
        justify-self: center;
      }
      #item-4 {
        justify-self: center;
      }

      #item-5 {
        justify-self: center;
        margin-top: 3.652rem;
      }

      #item-6 {
        justify-self: center;
      }
      img {
        max-width: 96%;
        // width: 1.0625rem;
        height: 37vh;
      }
      .role {
        // -ms-writing-mode: sideways-rl;
        // writing-mode: sideways-rl;
        // text-orientation: upright;
        font-size: 0.625rem;
        padding-left: 0.025rem;
        font-weight: 400;
        width: 0.5625rem;
        line-height: 0.8125rem;
        span {
          top: 0.125rem;
        }
      }
      .name {
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }
    }
  }
}
